{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <h1 class="h3 mb-3 fw-normal text-center">Yeni Şifrenizi Girin</h1>

        <div class="form-floating">
          <input type="password" name="password" id="password" class="form-control mb-2" placeholder="New Password" pattern=".{6,25}" title="Şifreniz 6 ile 25 karakter arasında olmalıdır!" required>
          <label for="password">Şifre</label>
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="form-floating">
          <input type="password" name="confirm" id="confirm" class="form-control mb-2" placeholder="Confirm Password" pattern=".{6,25}" title="Şifreniz 6 ile 25 karakter arasında olmalıdır!" required>
          <label for="confirm">Yeni şifrenizi tekrarlayın</label>
          {% if form.confirm.errors %}
            {% for error in form.confirm.errors %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Şifrenizi güncelleyin</button>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
