{% extends "_base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ election.title }} - Seçmenler</h1>
    <input type="text" id="search-input" class="form-control" placeholder="Seçmen ara (Ad, Soyad, TC, E-posta)">
    
    <div id="voter-table">
        {% include 'core/voter_table.html' %}
    </div>
</div>

<script>
    document.getElementById('search-input').addEventListener('keyup', function() {
        const searchQuery = this.value;
        const url = new URL(window.location.href);
        url.searchParams.set('search', searchQuery);

        fetch(url, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.text())
        .then(html => {
            document.getElementById('voter-table').innerHTML = html;
        })
        .catch(error => console.error('Hata:', error));
    });

    document.querySelectorAll('.sort-icons a').forEach(anchor => {
        anchor.addEventListener('click', function(event) {
            event.preventDefault();
            const url = new URL(this.href);

            fetch(url, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.text())
            .then(html => {
                document.getElementById('voter-table').innerHTML = html;
            })
            .catch(error => console.error('Hata:', error));
        });
    });
</script>
{% endblock %}
