<!-- templates/vote.html -->
{% extends "_base.html" %}

{% block content %}
<h1>{{ election.title }}</h1>
<p>{{ election.description }}</p>

<form method="post">
    <div class="form-group">
        <label for="option">Seçenekler:</label>
        <select class="form-control" id="option" name="option">
            {% for option in options %}
            <option value="{{ option.id }}">{{ option.description }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Oy Ver</button>
</form>
{% endblock %}
